<div class="modal fade" id="inactive" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="inactive-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inactive-label">Are you still here?</h5>
            </div>
            <div class="modal-body">
            You are leaving the conversation for 1 minute! The conversation is ended!
            </div>
            <div class="modal-footer">
                <button id="refresh-button" type="button" class="btn confirm__end bg-transparent" data-bs-dismiss="modal">CONFIRM</button>
            </div>
        </div>
    </div>
</div>